/* #area
{
  position:absolute;
  left:25%;
  top:10em;
  width:320px;
  height:270px;
}
#area #formulario
{
  position:absolute;
  display:block;   
}
 
 
fieldset
{
  background-color:#A7C0DC;
  width:700px;
  height:300px;
}
legend
{
  font-weight:bold;
  font-family: "Segoe UI","Arial","Times New Roman";
}
#formulario label
{
  position:absolute;
  left:19px;
  margin-right:5px;
}
#formulario input.campo_nome
{
  
  position:absolute;
  left:95px;
  top:23px;
  width:225px;
}
#formulario input.campo_email
{ 
  
  position:absolute;
  left:95px;
  margin-top:2px;
  width:225px;
}
#formulario textarea.msg
{
  position:absolute;
  
}
 
 
 
 
 
#formulario input.btn_submit
{
  border-style:dashed;
  position:absolute;
  bottom: 0.5em;
  right:10px;
  background-color:#f1ff00;
} */



body{
     background-color: #c2c2c7 !important;
}